<header class="bg-green-500 w-full">
    <div class="container mx-auto px-4 py-6 max-w-screen-xl">
        <div class="flex justify-between items-center">
            <a href="../src/index.html" class="text-white font-bold text-2xl">LOGO</a>
            
            <!-- Hamburger button -->
            <button id="hamburger-button" class="md:hidden text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>

            <!-- Desktop Navigation -->
            <nav class="hidden md:flex md:space-x-12 lg:space-x-6">
                <a href="../src/cerpen.html" class="text-white hover:text-gray-300">CERPEN</a>
                <a href="../src/puisi.html" class="text-white hover:text-gray-300">PUISI</a>
                <a href="#" class="text-white hover:text-gray-300">PROSA</a>
                <a href="../src/esai.html" class="text-white hover:text-gray-300">ESSAY</a>
                <a href="#" class="text-white hover:text-gray-300">KOLEKSI</a>
                <a href="#" class="text-white hover:text-gray-300">KIRIM ARTIKEL</a>
            </nav>
        </div>

        <!-- Mobile Navigation Menu -->
        <div id="mobile-menu" class="hidden md:hidden">
            <nav class="mt-4 space-y-3">
                <a href="../src/cerpen.html" class="block text-white hover:text-gray-300 py-2">CERPEN</a>
                <a href="../src/puisi.html" class="block text-white hover:text-gray-300 py-2">PUISI</a>
                <a href="#" class="block text-white hover:text-gray-300 py-2">PROSA</a>
                <a href="../src/esai.html" class="block text-white hover:text-gray-300 py-2">ESSAY</a>
                <a href="#" class="block text-white hover:text-gray-300 py-2">KOLEKSI</a>
                <a href="#" class="block text-white hover:text-gray-300 py-2">KIRIM ARTIKEL</a>
            </nav>
        </div>
    </div>
</header> 